[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphene = ">=2.1"
django = ">=3.1.13"
graphene-django = ">=2.15"
django-filter = ">=21.1"

[dev-packages]

[requires]
python_version = "3.8"
