[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphene = ">=2.0"
django = ">=2.1.5"
graphene-django = {ref = "django-filter-2", git = "https://github.com/jayhale/graphene-django.git"}
django-filter = ">=2.0"

[dev-packages]

[requires]
python_version = "3.6"
